@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

body {
    background: #d299f7;
    color: #131313;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

main {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 .5rem;
}

.github {
    position: top;
    background: #131313;
    color: #fff;
    margin: 0;
    padding: .5rem;
    text-align: center;
}

.github p {
    margin: 0;
    font-size: 1rem;
}

.github a, .github a:visited {
    color: #fff;
}

.github a:hover {
    color: #d299f7;
}

h1 {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 800;
    margin: 3rem 0 0 0;
}

p {
    font-size: 1.4rem;
    font-weight: 400;
}

.links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1rem;
}

.links a, .links a:visited {
    text-decoration: none;
    color: #fff;
    background: #131313;
    padding: .5rem 2rem;
    border-radius: 4px;
    margin: .4rem;
}

.links a:hover {
    background: #262626;
}